.additional__overflow {
  overflow-x: hidden;
}

.additional__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-top: 14px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    border: 1px solid $special_grey;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    border: none;
  }
}

.additional__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  background-color: white;
  display: inline-block;
  padding-right: 22px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 100vw;
      height: 3px;
      margin-top: 2px;
      background: #68b738;
      z-index: -1;
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;

    &::before {
      right: 400px;
    }
  }
}

.additional__bottom {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $special_grey;
  padding-bottom: 17px;

  &:last-child {
    border-bottom: 1px solid $special_grey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 38px;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid $special_grey;
    }

    &:first-child {
      border-top: 1px solid $special_grey;
    }
  }
}

.additional__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 612px;
    justify-content: space-between;
  }
}

.additional__name {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  margin-top: 13px;
  padding-left: 2px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__details {
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  margin-bottom: 12px;
  width: 100%;

  & td:first-child {
    padding-left: 0;
  }

  & td:last-child {
    text-align: right;

    @media (min-width: $desktop-width) {
      text-align: right;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}
