.burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 16px;
  background-color: white;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--open::before,
  &--open::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: black;
  }

  &--open::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--open::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &--closed::before {
    content: "";
    position: absolute;
    background-color: black;
    top: 23px;
    right: 0;
    width: 24px;
    height: 2px;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }
}
