.button {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: $basic_green;
  color: white;
  text-decoration: none;
}

.button--promo {
  width: 280px;
  text-align: center;
  padding: 7px 0;
}
