.container {
  position: relative;
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  &--header {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;

    &--header {
      padding-left: 10px;
    }

    &--form {
      padding-left: 69px;
      padding-right: 67px;
    }

    &--form-header {
      padding-left: 10px;
      padding-right: 30px;
    }

    &--form-top {
      padding-left: 69px;
      padding-right: 67px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;

    &--header {
      padding-left: 90px;
    }

    &--form-top {
      width: 569px;
      margin: 0;
      padding: 0;
    }
  }
}
