.developer {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    align-self: flex-start;
  }
}

.developer__link {
  color: $special_dark-grey;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    padding-right: 24px;
  }
}
