.example {
  background-color: $special_grey-4;
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(white 619px, #eaeaea 619px);
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-bottom: 53px;
    border: none;
    background: linear-gradient(white 198px, $basic_grey 198px);
  }
}

.example__grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  margin: 0;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 62px;
    margin-bottom: 0;
  }
}

.example__text {
  margin-top: 33px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 463px;
    margin-top: 0;
    padding-top: 147px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.example__br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
