.features {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.features__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;

  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.features__item {
  position: relative;
  border: 1px solid  $special_grey;
  border-radius: 3px;
  width: 124px;
  text-align: center;
}

.features__value {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.features__description {
  position: absolute;
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  width: 87px;
  background-color: $special_grey-4;
  bottom: -24px;
  left: 15%;
}

.features__price {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 11px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    text-align: right;
    align-self: center;
  }
}
