.features__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.features__value {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.features__description {
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
}

.features__price {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
