.field {
  display: flex;
  margin-bottom: 9px;

  &:last-child {
    padding-top: 4px;
  }

  &:nth-child(2) .field__name {
    margin-right: 18px;
  }

  &--contacts {
    position: relative;
  }

  &--contacts:last-child .field__name {
    margin-right: 11px;
  }

  &--email::after {
    content: "";
    width: 20px;
    height: 14px;
    position: absolute;
    z-index: 5;
    right: 15px;
    top: 19px;
    background-image: url("../img/svg/icon_email.svg");
  }

  &--phone::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 5;
    right: 13px;
    top: 18px;
    background-image: url("../img/svg/icon_phone.svg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    &--email {
      padding-left: 2px;
    }

    &--contacts:last-child .field__name {
      margin-right: 15px;
    }

    &:last-child {
      padding-top: 0;
    }

    &--email::after {
      right: 16px;
      top: 18px;
    }

    &--phone::after {
      right: 16px;
      top: 16px;
    }
  }
}

.field__name {
  flex-shrink: 0;
  margin-right: 13px;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.field__control {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 14px;
  background-color: white;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;

    &--cat-name {
      padding-left: 15px;
    }
  }
}
