.footer-logo {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 31px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
    width: 128px;
    padding-top: 13px;
  }
}
