.form {
  display: grid;
}

.form__overflow {
  overflow-x: hidden;
}

.form__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  padding-right: 14px;
  display: inline-block;
  background-color: white;

  &::after {
    content: "";
    position: absolute;
    top: 0.5em;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 0.5em;
      width: 100vw;
      height: 3px;
      margin-top: 2px;
      background: #68b738;
      z-index: -1;
      left: -808px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: -1480px;
    }
  }
}

.form__header {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.form__footnote {
  line-height: 24px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}

.form__submit {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
