.form {
  display: grid;
}

.form__overflow {
  overflow-x: hidden;
}

.form__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  padding-right: 14px;
  display: inline-block;
  background-color: white;
  margin-top: 25px;

  .owner-contacts & {
    width: 201px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0.59em;
    width: 100vw;
    height: 2px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;
  }

  &--extra {
    margin-top: 3px;
    margin-bottom: 23px;
    padding-right: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    padding-right: 42px;
    margin-bottom: 63px;

    .owner-contacts & {
      width: auto;
    }

    &::after {
      margin-top: 0;
      top: 21px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 19px;
      width: 100vw;
      height: 2px;
      margin-top: 2px;
      background: #68b738;
      z-index: -1;
      left: -808px;
    }

    &--extra {
      margin-bottom: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: -1480px;
    }
  }
}

.form__header {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    justify-self: start;
    font-size: 16px;
    line-height: 16px;
    margin-top: 16px;
    margin-left: 29px;
  }
}

.form__submit {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 82px;
  }
}
