.main-nav {
  flex-direction: column;
  list-style: none;
  width: 100%;
  display: flex;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    &--closed {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 478px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 8px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    background-color: transparent;
  }
}

.main-nav__link {
  font-family: $oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: block;
  color: black;
  padding-top: 22px;
  padding-bottom: 23px;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: 0;
    font-size: 18px;
    line-height: 24px;
    padding-top: 19px;
    padding-bottom: 8px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    color: #111111;
    font-size: 20px;
    line-height: 30px;

    &--main {
      color: white;
    }
  }

  &--current {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid $basic_green;
    }

    @media (min-width: $desktop-width) {
      border-bottom: 2px solid $basic_green;
    }
  }
}

.main-nav__item--main > .main-nav__link--current {
  @media (min-width: $desktop-width) {
    border-color: white;
  }
}
