.page-footer {
  position: relative;
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 31px;
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
  }
}

.page-footer__developer {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
}
