.page-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}
