.page-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.page-header__grid {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-top: 12px;
}

.page-header__logo {
  @media (min-width: $tablet-width) {
    padding-right: 95px;
  }
}

.page-header__logo-image {
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }
}
