.page {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.page__body {
  min-width: 320px;
  background-color: white;
  margin: 0;
}
