.product {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 120vw;
    height: 1px;
    background-color: #e6e6e6;
    left: -30px;
    top: -9px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    align-content: flex-end;
    height: 512px;
    background: linear-gradient(white 81px, $basic_grey 81px);
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__pic {
  flex: 0 0 50%;
  width: 50%;
  display: grid;

  @media (min-width: $tablet-width) {
    flex: 0 0 auto;
    margin-bottom: 14px;
  }
}

.product__img {
  margin: auto auto -5%;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.product:first-child .product__img {
  margin-bottom: 3px;
}

.program__description {
  flex: 0 0 50%;
  width: 50%;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.product__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  width: 80px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}

.product__details {
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  border-collapse: collapse;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 252px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.product__details td:last-child {
  text-align: right;
}

.product__details td {
  padding-top: 0;
  padding-bottom: 0;


  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
  }
}

.product__details tr {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey;
  }
}
