.programs__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}
