.radio {
  display: block;
  position: relative;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
  }
}

.radio__control {
  position: absolute;
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid $special_grey;
  border-radius: 50%;
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-left: -15px;
  }
}

.radio__input:checked + .radio__control::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 7px solid $basic_green;
  border-radius: 50%;
  margin-top: 7px;
  margin-left: 7px;

  @media (min-width: $tablet-width) {
    border: 9px solid $basic_green;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.radio__name {
  padding-left: 45px;
}

