.show-more {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 120vw;
    height: 1px;
    background-color: #e6e6e6;
    left: -30px;
    top: -6px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 120vw;
    height: 1px;
    background-color: #e6e6e6;
    left: -30px;
    bottom: 5px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $special_grey-2;
    display: grid;
    justify-content: center;
    height: 429px;
    align-self: end;
    align-content: end;

    padding-bottom: 36px;
    margin-top: 0;
  }
}

.show-more__plus {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: linear-gradient(#e5e5e5, #e5e5e5), linear-gradient(#e5e5e5, #e5e5e5);
  background-position: center;
  background-size: 100% 2px, 2px 100%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    justify-self: center;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 48px;
  }
}

.show-more__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
    width: 134px;
    justify-self: center;
    padding-bottom: 23px;
    padding-top: 0;
  }
}

.show-more__subtitle {
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    justify-self: center;
    padding-bottom: 85px;
    padding-top: 0;
  }
}
