.was-now {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 39px;
}

.was-now__compare-slider {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.was-now__slider {
  position: relative;
  content: "";
  width: 84px;
  height: 14px;
  background-color: white;
  border: 1px solid $special_grey;
  border-radius: 6px;
  margin-left: 12px;
  margin-right: 13px;

  &::before {
    position: absolute;
    top: 3px;
    left: 5px;
    content: "";
    width: 35px;
    height: 6px;
    background-color: $basic_green;
    border: 1px solid $basic_green;
    border-radius: 50px;
  }
}
